body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #1f2937;
  display: flex;
}

.header-logo {
  text-decoration: none;
  color: #f9faf8;
  font-size: 1.85rem;
  padding: 1.5rem 0;
  font-weight: 700;
}

.links > ul {
  display: flex;
}

.links {
  color: #e5e7eb;
  font-weight: 300;
  font-size: 1.4rem;
}

.container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.links li {
  margin-right: 1.8rem;
}

.links li:last-child {
  margin-right: 0px;
}

h1 {
  color: #f9faf8;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
}

.hero {
  background-color: #1f2937;
  padding: 9rem 0;
}

.placeholder {
  background-color: #6e747c;
  height: 18rem;
  width: 55%;
  font-size: 1.5rem;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 45%;
  padding-right: 4rem;
}

.hero-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 1.3rem;
  font-weight: 400;
  border-style: none;
  padding: 0.7rem 2.5rem;
  border-radius: 0.8rem;
}

div.hero-content > p {
  color: #e5e7eb;
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 1.8rem;
}

section > h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 4rem 0;
}

.info-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8rem;
}

.info-container {
  width: 65%;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.box {
  height: 12.5rem;
  width: 12.5rem;
  border: 0.35rem solid #3882f6;
  border-radius: 1.25rem;
}

.info-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-set p {
  padding-top: 1rem;
  width: 12rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #76787a;
}

.quote {
  background-color: #e5e7eb;
  display: flex;
}

.quote p {
  font-size: 3rem;
  font-style: italic;
  font-weight: 400;
}

.quote-container {
  width: 70%;
}
